{% extends 'base.html' %}

{% block content %}
<div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3'>

    {% for product in products %}

    <div class="card" style="width: 18rem;">
      {% if product.image %}
        <img src='{{ product.image.url }}' class="card-img-top" alt="product_img">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="{{ product.get_absolute_url }}" class="btn btn-primary"> "Подробнее"</a>
        </div>
      </div>

    {% endfor %}
</div>

{% endblock content %}